main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #E5E5E5;

  .container-books {
    width: 100%;
    max-width: 827px;
    padding: 80px 0;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;


      h1 {
        margin-bottom: 28px;
        font-weight: bold;
        font-size: 25px;
        line-height: 34px;
        color: #010101;
      }
      p {
        margin-bottom: 35px;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        color: #555555;
      }
    }
    .cards-livros {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      .card {
        text-align: center;
        margin: 5px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  main {


    .cards-livros {
      grid-template-columns: 1fr 1fr!important;
    }

  }
}