footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #010101;

  .container-footer {
    width: 100%;
    max-width: 791px;

    .content-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 80px 0 20px 0;

      h1 {
        font-weight: bold;
        font-size: 25px;
        line-height: 34px;
        color: #FCDB00;
      }
      p {
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        color: #F1F1F1;
        margin: 30px 0;
      }

      .social-icons {
        display: flex;
        margin: 20px;

        img {
          margin: 10px;
          cursor: pointer;
        }
      }
    }
  }

  .adress-container {
    width: 100%;
    max-width: 1027px;
    padding: 35px 0;

    .adress-content {

      ul {
        display: flex;
        flex-direction: row;

        li {
          color: #fff;
          list-style: none;
          margin: 20px;

          font-weight: normal;
          font-size: 13px;
          line-height: 30px;
          color: #FFFFFF;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  footer {



    .adress-container {
      flex-direction: column;

      .adress-content {

        ul {
          flex-direction: column;
        }
      }
    }
  }
}